# Dependencias
node_modules/

# Variables de entorno (SECRETOS - NO SUBIR NUNCA)
.env
    
# Bases de datos locales
*.db
*.sqlite

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de subidas (ahora usaremos Cloudinary)
uploads/